/* CSS BY ANNA HOBBS */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/* Root Variables */
  :root {
    --blue-bulletin: #1D3557;
    --news-flash: #E63946;
    --watchdog-white: #F1FAEE;
    --truth-text: #333;
    --story-subtitle: #457B9D;
    --font-body: "Source Sans 3", sans-serif;
    --font-heading: 'Merriweather', serif;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    --transition: all 0.5s ease;

    /* Mine */
    --button-link: 0.5625rem 0.4375rem;
  }

/* Light/Dark Mode Styles */
  body.light-mode {
    background-color: var(--watchdog-white);
    color: var(--truth-text);
  }

  body.dark-mode {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }

  #theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--watchdog-white);
    border: 1px solid var(--blue-bulletin);
    border-radius: 1.5rem;
    cursor: pointer;
  }

/* Skip Link Styles */
  .skip-link {
    position: absolute;
    top: 5rem;
    left: 50%; /* This + translateX are for horizontal centering */
    padding: var(--button-link);
    transform: translateX(-50%) translateY(-1000%);
    margin: 0 auto;
    
    /* Styling */
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;

    color: var(--watchdog-white);
    background-color: var(--news-flash);

    transition: var(--transition);
  }

  .skip-link:focus {
    transform: translateX(-50%) translateY(-100%);
  }

  .skip-link:hover { /* I know hovering is unlikely because this is for keyboard use, but adding for anyone who uses both */
    background-color: var(--story-subtitle);
  }

  .skip-link:focus,
  .skip-link:hover {
    text-decoration: none;
  }

/* Navigation Styles */
  /* I would rather have these and the skip link styles lower down, but I will leave them the way they were assigned */
  nav label {
    display: none; /* Temporarily out of the way */
  }

/* Global Styles */
  /* Basics */
    body {
      /* Force footer to bottom no matter what */
      min-height: 100vh;
      display: flex;
      flex-direction: column;

      font-family: var(--font-body);
      line-height: 1.5;
    }

  /* Limit "body" size while letting header and footer backgrounds take up the entire page */
    header div,
    main,
    footer div {
      max-width: 1048px; /* XL size is 1024px but */
      margin: 0 auto;
      padding: 0 2.5rem;
    }

    h1,
    h2,
    h3 {
      font-family: var(--font-heading);
      font-weight: 500; /* Using Medium because Bold looks much darker than the mockup */
      font-variation-settings: "wdth" 112; /* They also look slightly wider */
    }

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }

  /* Header/Footer */
    /* These are essentially the same so I am lumping them together for the most part */
    header,
    footer {
      color: var(--watchdog-white);
      background-color: var(--blue-bulletin);
    }

    header nav ul,
    footer ul {
      display: flex;
      gap: 1.25rem;

      margin: 2rem 0 1.6875rem;
    }

    header nav a,
    footer a {
      padding: var(--button-link);
      font-weight: bold;
      text-transform: uppercase;

      color: var(--watchdog-white);
      background: var(--news-flash);
    }

    header nav a:hover,
    header nav a:focus,
    footer a:hover,
    footer a:focus {
      text-decoration: none;
      background-color: var(--story-subtitle);
    }

    header div {
      padding-top: 1rem;
    }

    header p {
      font-family: var(--font-heading);
      font-weight: bold;
      font-stretch: semi-condensed; /* This looks skinnier to me than everything else */

      line-height: 1.25;
    }

    footer {
      margin-top: auto; /* Keep at bottom */
    }

/* ///ADD/// medium styles 620px */


/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}