/* CSS BY ANNA HOBBS */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS Reset */
  /* 
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/* Root Variables */
  :root {
    --blue-bulletin: #1D3557;
    --news-flash: #E63946;
    --watchdog-white: #F1FAEE;
    --truth-text: #333;
    --story-subtitle: #457B9D;
    --font-body: "Source Sans 3", sans-serif;
    --font-heading: 'Merriweather', serif;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    --transition: all 0.5s ease;

    /* Mine */
    --button-link: 0.5625rem 0.4375rem;
    --border: 0.125rem solid;
  }

/* Light/Dark Mode Styles */
  body.light-mode {
    color: var(--truth-text);
    background-color: var(--watchdog-white);
  }

  body.dark-mode {
    color: var(--watchdog-white);
    background-color: var(--truth-text);
  }

  #theme-toggle { 
    height: 3rem;
    position: fixed;
    bottom: 0; /* Moved from top to bottom to make room for menu and since theme switching isn't as much of a priority on mobile */
    right: 0;
    margin: 1rem;

    background-color: var(--watchdog-white);
    border: 1px solid var(--blue-bulletin);
    border-radius: 1.5rem;
    cursor: pointer;
  }

/* Skip Link Styles */
  .skip-link {
    position: absolute;
    top: 5rem;
    left: 50%; /* This + translateX are for horizontal centering */
    padding: var(--button-link);
    transform: translateX(-50%) translateY(-1000%);
    margin: 0 auto;
    
    /* Styling */
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;

    color: var(--watchdog-white);
    background-color: var(--news-flash);

    transition: var(--transition);
  }

  .skip-link:focus {
    transform: translateX(-50%) translateY(-100%);
  }

  .skip-link:hover { /* I know hovering is unlikely because this is for keyboard use, but adding for anyone who uses both */
    background-color: var(--story-subtitle);
  }

  .skip-link:focus,
  .skip-link:hover {
    text-decoration: none;
  }

/* Navigation Styles */
  /* I would rather have these and the skip link styles lower down, but I will leave them the way they were assigned */
  header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header > div div {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .menu-button {
    padding: var(--button-link);

    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

    background-color: var(--news-flash);

    transition: var(--transition);
  }

  .menu-button:hover {
    cursor: pointer;
  }

  .menu {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1.75rem;
    padding-top: 1rem;

    flex-direction: column;

    overflow: hidden;
    text-align: center;

    background-color: var(--blue-bulletin);
  }

  header nav a {
    display: block;
    width: 100%;
  }

  header nav ul {
    max-height: 0; /* Hidden */
  }

  header nav input:checked ~ ul {
    max-height: 100rem;
  }

/* Global Styles */
  body {
    /* Force footer to bottom no matter what */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: var(--font-body);
    line-height: 1.5;
  }

/* Limit "body" size while letting header and footer backgrounds take up the entire page */
  header div,
  main,
  footer div {
    max-width: 1035px; /* This was the size necessary to match the mockup according to me eyeballing it */
    margin: 0 auto;
    padding: 0 2.5rem;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
    font-weight: 500; /* Using Medium because Bold looks much darker than the mockup */
    font-variation-settings: "wdth" 112; /* They also look slightly wider */
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  .tagline {
    font-family: var(--font-heading);
    font-weight: bold;
    font-stretch: semi-condensed; /* This looks skinnier to me than everything else */
  }

  /* Header/Footer */
    /* These are essentially the same so I am lumping them together for the most part */
    header,
    footer {
      color: var(--watchdog-white);
      background-color: var(--blue-bulletin);
    }

    header nav ul,
    footer ul {
      display: flex;
      margin: 2rem 0 1.6875rem;
    }

    header nav a,
    footer a {
      padding: var(--button-link);
      font-weight: bold;
      text-transform: uppercase;

      color: var(--watchdog-white);

      transition: var(--transition);
    }

    header nav a:hover,
    header nav a:focus,
    footer a:hover,
    footer a:focus {
      text-decoration: none;
      background-color: var(--story-subtitle);
    }

    header {
      padding-bottom: 0.5rem;;
    }

    header p {
      line-height: 1.25;
    }

    header nav a {
      text-transform: uppercase;
    }

    footer {
      margin-top: auto; /* Keep at bottom */
      padding-top: 2rem;
    }

    footer ul {
      margin: 0.75rem 0;
      flex-wrap: wrap;
      gap: 2.25rem 1.25rem;
    }

    footer a {
      background: var(--news-flash);
    }

    footer a:hover,
    footer a:focus {
      padding: calc(0.5625rem + 0.25rem) calc(0.4375rem + 0.25rem);
    }

    footer small {
      display: block;
      margin: 2.5rem 0 1rem;

      text-align: center;
    }

  /* Main */
    main {
      margin: 2rem auto 0;
    }
    
    section {
      margin: 0.75rem 0;
    }

    main section:first-of-type p {
      margin-top: 0.125rem;
    }

    blockquote {
      padding: 1.125rem 1.25rem 1.25rem;
      text-align: center;
    }

    /* Articles */
      article {
        padding: 0.6875rem 1rem;

        border: var(--border);
        box-shadow: var(--shadow);

        transition: var(--transition);
      }

      article h3 {
        margin-bottom: 0.5rem;
        padding-bottom: 0.25rem;
        border-bottom: var(--border);
      }

      article:hover,
      article:focus {
        cursor: pointer; /* I am making these appear clickable because I would guess in a real site, interacting with them would take you to the full article */
        transform: scale(1.0625);
      }

      #breaking-news div {
        display: flex;
        flex-direction: column;
        gap: 1.625rem;
        margin: 1.125rem 0.5rem 2.25rem;
      }

      #breaking-news article {
        border-color: var(--truth-text);

        color: var(--watchdog-white);
        background-color: var(--news-flash);
      }

      video {
        width: 100%;
        height: auto;
      }

      #featured-articles div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.625rem;
        margin: 1.125rem 0.5rem 2.25rem;
      }

    /* Form */
    form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem 0.375rem;

      margin: 0.5rem 0.5rem 1.5rem;
      padding: 1rem;

      border: var(--border);
      border-color: var(--truth-text);

      color: var(--watchdog-white);
      background-color: var(--news-flash);

      box-shadow: var(--shadow);
    }

    label span { /* Required asterisks */
      color: var(--blue-bulletin);
    }

    input[type="text"],
    input[type="tel"] {
      display: block;
      width: calc(100% - 0.5rem); /* Leave room for padding */
      height: 2.5rem;

      border: var(--border);
      border-color: var(--truth-text);
    }

    fieldset {
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      padding: 0.25rem 0.25rem 1rem;

      border: var(--border);
      border-color: var(--truth-text);
    }

    legend {
      grid-column: 1 / -1;
      margin-left: 0.375rem;

      text-transform: uppercase;
    }

    /* Fix boxes not lining up with labels */
    fieldset div {
      display: flex;
      align-items: center;
    }

    input[type="checkbox"] {
      width: 1.125rem;
      height: 1.125rem;
    }

    input[type="checkbox"]:hover,
    fieldset label {
      cursor: pointer;
    }

    input[type="submit"] { /* The text for this was not styled at all in the mockup :| */
      grid-column: 1 / -1;
      height: 3rem;
      margin: 0.5rem 0 1rem;

      font-size: 1.25rem;
      text-transform: uppercase;

      border-color: var(--truth-text); /* The mockup didn't change this, but I am */

      color: var(--watchdog-white);
      background-color: var(--blue-bulletin);
    }

    input[type="submit"]:hover,
    input[type="submit"]:focus {
      cursor: pointer;

      background: var(--story-subtitle);
    }

/* All sizing adjustments are purely vibes based and have 0 logical backing */
/* Medium styles 620px */
  @media screen and (min-width: 620px) {
    #featured-articles div {
      grid-template-columns: 1fr 1fr;
    }

    fieldset {
      grid-template-columns: 1fr 1fr;
    }
  }

/* Large styles 920px */
  @media screen and (min-width: 920px) {
    #theme-toggle {
      position: absolute;
      top: 0;
    }

    header > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    header > div div {
      padding: 1.0625rem 0 1rem;
    }

    .menu-toggle,
    .menu-button {
      display: none; /* Not needed by screen reader */
    }

    .menu {
      position: relative;
      margin: 0;
      padding-right: 1rem;
      padding-bottom: 1rem;
      left: 0;
      top: 0;
      flex-direction: row;
    }

    header nav ul {
      max-height: 100rem;
      gap: 1.25rem;
    }

    header nav a {
      display: inline;
    }

    header nav a {
      background: var(--news-flash);
    }

    header nav a:hover,
    header nav a:focus {
      padding: calc(0.5625rem + 0.25rem) calc(0.4375rem + 0.25rem);
    }

    #breaking-news div {
      flex-direction: row;
    }

    form {
      grid-template-columns: 1fr 1fr;
    }
  }

/* XL styles 1024px */
  @media screen and (min-width: 1024px) {
    #featured-articles div {
      grid-template-columns: repeat(3, 1fr);
    }

    fieldset {
      grid-template-columns: repeat(3, 1fr);
    }
  }

/* Interaction queries for color scheme light and dark and motion preference */
  /* Dark/light is usually handled by the JavaScript, but this is a good solution for if it is disabled  */
  /* I am just reapplying the same body styles */
  @media (prefers-color-scheme: dark) {
    body {
      color: var(--watchdog-white);
      background-color: var(--truth-text);
    }
  }

  @media (prefers-color-scheme: light) {
    body {
      color: var(--truth-text);
      background-color: var(--watchdog-white);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      --transition: none;
    }

    header nav a:hover,
    header nav a:focus,
    footer a:hover,
    footer a:focus {
      padding: var(--button-link);
    }

    article:hover,
    article:focus {
      transform: none;
    }
  }

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  /* Only for mobile menu */
  @media screen and (max-width: 920px) {
    /* Change room around header based on menu being open so it doesn't cover text */
    header:has(#menu-toggle:checked) {
      margin-bottom: 10rem;
    }

    header:has(#menu-toggle:not(:checked)) {
      padding-bottom: 1.75rem;
    }
  }
}